body {
    background-color: rgba(140, 240, 115, 0.801);
}

p,
ul,
h1,
li,
h2,
h3 {
    text-align: center;
    
}

ul,
ol {
    list-style-position: inside;
}

h1 {
    font-style: oblique;


}


.turtle-cookies {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.homepage {
    display: block;
    width: fit-content;
    margin: auto;
}